
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-aEw {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;

  .auto-group-ajbm-nro {
    width: 175.8rem;
    height: 181.8rem;
    position: relative;
    flex-shrink: 0;

    .group-37-fp7 {
      width: 175.8rem;
      height: 104.9rem;
      position: absolute;
      left: 0;
      top: 0;

      .photo2022-06-0513-14-26-1-zrP {
        top: 0.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 144rem;
        height: 102.4rem;
        position: absolute;
        left: 0.1rem;
      }
      .rectangle-1-JMH {
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(89.59deg, #000000 8.49%, rgba(3, 3, 3, 0) 50.14%);
        width: 144rem;
        height: 102.4rem;
      }
      .frame-5-b5V {
        overflow: hidden;
        width: 117rem;
        height: 93.8rem;
        position: absolute;
        left: 15.6rem;
        top: 5.5rem;

        .about-us-delivery-menu-contacts-reviews-6nw {
          font-size: 2.4rem;
          font-weight: 200;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 7rem 1rem;
        }
        .traditional-artisax-bakery-wHm {
          margin-bottom: 2.2rem;
          max-width: 56rem;
          font-size: 7rem;
          font-weight: 200;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-of-type-and-scrambled-it-to-make-a-type-specimen-book-it-has-survived-not-only-five-centuries-but-also-the-leap-into-electronic-typesetting-remaining-essentially-unchanged-dK1 {
          margin: 0rem 0rem 2.9rem 1.4rem;
          max-width: 57.1rem;
          font-size: 2.1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .auto-group-r6mq-MuD {
          background-color: #b37b47;
          margin: 0rem 0rem 10.8rem 1.1rem;
          height: 5.7rem;
          justify-content: center;
          width: 20.7rem;
          font-weight: 300;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 2.4rem;
          line-height: 1.2125;
          display: flex;
          align-items: center;
          border-radius: 1.7rem;
        }
        .auto-group-nxz9-Pb1 {
          margin-left: 1.4rem;
          display: flex;
          align-items: center;

          .auto-group-agtt-i7V {
            margin: 0rem 9.6rem 0.6rem 0rem;
            width: 31.2rem;
            height: 24.2rem;
            position: relative;
            flex-shrink: 0;

            .rectangle-3-yBq {
              width: 31rem;
              height: 22.5rem;
              position: absolute;
              left: 0.2rem;
              top: 1.7rem;
              background-color: #272727;
            }
            .pngwing-1-Gwd {
              width: 15rem;
              height: 22.5rem;
              position: absolute;
              left: 0.6rem;
              top: 0;
              object-fit: cover;
              vertical-align: top;
            }
            .ellipse-1-pCT {
              height: 2.3rem;
              position: absolute;
              top: 18.6rem;
              background-color: rgba(217, 217, 217, 0);
              width: 2.3rem;
              left: 13.4rem;
              border: solid 0.1rem #ffffff;
              box-sizing: border-box;
              border-radius: 1.15rem;
            }
            .item--uUo {
              height: 2rem;
              left: 14.3rem;
              font-weight: 800;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 0.6rem;
              position: absolute;
              top: 18.9rem;
              font-size: 1.6rem;
              color: #ffffff;
            }
            .american-cockie-1Xq {
              height: 2rem;
              left: 17rem;
              font-size: 1.6rem;
              color: #ffffff;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 13rem;
              position: absolute;
              top: 11rem;
              font-weight: 500;
            }
            .rectangle-5-iSF {
              width: 7.9rem;
              height: 3.4rem;
              position: absolute;
              left: 20.1rem;
              top: 16.4rem;
              background-color: #c75312;
            }
            .buy-D87 {
              font-weight: 900;
              color: #ffffff;
              width: 3.5rem;
              position: absolute;
              left: 22.3rem;
              top: 17.4rem;
              white-space: nowrap;
              height: 2rem;
              font-size: 1.6rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
            }
            .kg-v2X {
              left: 18.8rem;
              font-size: 2.4rem;
              line-height: 1.2125;
              color: #ffffff;
              width: 10.5rem;
              height: 3rem;
              font-weight: 200;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              position: absolute;
              top: 6.8rem;
            }
            .rectangle-4-RV5 {
              width: 16.2rem;
              height: 22.5rem;
              position: absolute;
              left: 0;
              top: 1.7rem;
              background: linear-gradient(81.4deg, #000000 -110.34%, rgba(0, 0, 0, 0) 80.32%);
            }
          }
          .auto-group-sumd-iyy {
            width: 31.8rem;
            height: 23.1rem;
            position: relative;
            flex-shrink: 0;
            margin: 1.7rem 2.6rem 0rem 0rem;

            .rectangle-6-qHu {
              width: 31rem;
              height: 22.5rem;
              position: absolute;
              left: 0.8rem;
              top: 0;
              background-color: #272727;
            }
            .ellipse-3-ZUo {
              border-radius: 1.15rem;
              height: 2.3rem;
              left: 19rem;
              top: 16.9rem;
              box-sizing: border-box;
              background-color: rgba(217, 217, 217, 0);
              width: 2.3rem;
              position: absolute;
              border: solid 0.1rem #ffffff;
            }
            .item--4gT {
              color: #ffffff;
              white-space: nowrap;
              width: 0.6rem;
              position: absolute;
              top: 17.2rem;
              font-weight: 800;
              font-family: Inter, 'Source Sans Pro';
              height: 2rem;
              left: 19.9rem;
              font-size: 1.6rem;
              line-height: 1.2125;
            }
            .pngegg-1-1-mqm {
              top: 0.6rem;
              object-fit: cover;
              vertical-align: top;
              width: 21.3rem;
              height: 22.5rem;
              position: absolute;
              left: 0;
            }
            .rectangle-7-Hp7 {
              width: 7.9rem;
              height: 3.4rem;
              position: absolute;
              left: 22.2rem;
              top: 14.7rem;
              background-color: #c75312;
            }
            .buy-cLb {
              top: 15.7rem;
              font-size: 1.6rem;
              line-height: 1.2125;
              color: #ffffff;
              width: 3.5rem;
              height: 2rem;
              position: absolute;
              left: 24.4rem;
              font-family: Inter, 'Source Sans Pro';
              font-weight: 900;
              white-space: nowrap;
            }
            .item-400-hcw {
              height: 3rem;
              font-size: 2.4rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              width: 6.4rem;
              left: 23.8rem;
              top: 5.1rem;
              font-weight: 200;
              color: #ffffff;
              white-space: nowrap;
              position: absolute;
            }
            .rectangle-8-AWX {
              position: absolute;
              left: 0.8rem;
              top: 0.3rem;
              background: linear-gradient(81.4deg, #000000 -110.34%, rgba(0, 0, 0, 0) 80.32%);
              width: 21.5rem;
              height: 22.5rem;
            }
            .crushed-with-chockolate-fiB {
              width: 9rem;
              height: 3.4rem;
              font-size: 1.4rem;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              position: absolute;
              left: 22.2rem;
              top: 7.9rem;
              font-weight: 500;
              line-height: 1.2125;
            }
          }
          .arrow-1-ZYf {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.9rem 9.4rem 0rem 0rem;
            width: 0;
            height: 0.1rem;
            object-fit: contain;
          }
          .auto-group-xzgs-gNP {
            margin-top: 2rem;
            width: 31rem;
            height: 22.8rem;
            position: relative;
            flex-shrink: 0;

            .ellipse-2-DNK {
              background-color: rgba(217, 217, 217, 0);
              position: absolute;
              top: 17.1rem;
              left: 17.5rem;
              border: solid 0.1rem #ffffff;
              box-sizing: border-box;
              border-radius: 1.15rem;
              width: 2.3rem;
              height: 2.3rem;
            }
            .item--8EP {
              position: absolute;
              left: 18.4rem;
              font-size: 1.6rem;
              line-height: 1.2125;
              color: #ffffff;
              white-space: nowrap;
              width: 0.6rem;
              top: 17.4rem;
              font-weight: 800;
              font-family: Inter, 'Source Sans Pro';
              height: 2rem;
            }
            .group-7-EoD {
              width: 31rem;
              height: 22.8rem;
              position: absolute;
              left: 0;
              top: 0;

              .rectangle-9-NuR {
                left: 0;
                top: 0;
                background-color: #eaad50;
                width: 31rem;
                height: 22.5rem;
                position: absolute;
              }
              .imgbinblueberry-pie-blackberry-pie-rhubarb-pie-apple-pie-tart-png-1-iyH {
                top: 2.8rem;
                object-fit: cover;
                vertical-align: top;
                width: 19.3rem;
                height: 19.3rem;
                position: absolute;
                left: 0.6rem;
              }
              .rectangle-10-2j5 {
                background-color: #c75312;
                width: 7.9rem;
                height: 3.4rem;
                position: absolute;
                left: 20rem;
                top: 14.4rem;
              }
              .buy-mRm {
                width: 3.5rem;
                position: absolute;
                left: 22.2rem;
                top: 14.7rem;
                font-weight: 900;
                line-height: 1.2125;
                color: #ffffff;
                white-space: nowrap;
                height: 2rem;
                font-size: 1.6rem;
                font-family: Inter, 'Source Sans Pro';
              }
              .for-piece-400-god {
                font-weight: 200;
                line-height: 1.2125;
                font-size: 2.4rem;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                width: 11rem;
                height: 5.9rem;
                position: absolute;
                left: 18.5rem;
                top: 2.5rem;
              }
              .blackberry-pie-yXq {
                width: 11.1rem;
                font-weight: 500;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                height: 2rem;
                position: absolute;
                left: 19rem;
                top: 9.6rem;
                font-size: 1.6rem;
                color: #ffffff;
              }
              .rectangle-11-555 {
                left: 0;
                top: 0.3rem;
                background: linear-gradient(81.4deg, #000000 -110.34%, rgba(0, 0, 0, 0) 80.32%);
                width: 23.5rem;
                height: 22.5rem;
                position: absolute;
              }
              .pngegg-2-1-nkB {
                height: 2.7rem;
                position: absolute;
                left: 21.6rem;
                top: 18.9rem;
                object-fit: cover;
                vertical-align: top;
                width: 1.2rem;
              }
            }
          }
        }
      }
    }
    .group-46-VuV {
      padding: 2.1rem 29.2rem 2.1rem 27.5rem;
      width: 144rem;
      height: 77.5rem;
      position: absolute;
      left: 0;
      top: 102.3rem;
      background-color: #202023;
      box-sizing: border-box;

      .group-38-QmZ {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 68.1rem;
        align-items: center;

        .auto-group-hw4b-9j9 {
          width: 100%;
          height: 32.5rem;
          display: flex;
          align-items: flex-end;
          flex-shrink: 0;

          .auto-group-kpkm-uCX {
            margin: 0rem 3.5rem 0.027rem 0rem;
            width: 32.8rem;
            height: 22.9732rem;
            position: relative;
            flex-shrink: 0;

            .group-27-2H9 {
              height: 21.5732rem;
              position: absolute;
              left: 2rem;
              top: 1.4rem;
              width: 29.4rem;

              .bread-mart-bread-with-no-background-1558851-1-kiw {
                width: 29.4rem;
                height: 18.439rem;
                position: absolute;
                left: 0;
                top: 0;
                object-fit: cover;
                vertical-align: top;
              }
              .breads-Uew {
                font-weight: 800;
                line-height: 1.2125;
                position: absolute;
                font-size: 2.592rem;
                left: 10.1366rem;
                top: 18.3732rem;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                width: 9rem;
                height: 3.2rem;
              }
            }
            .rectangle-28-nQj {
              height: 22.9rem;
              position: absolute;
              left: 0;
              top: 0;
              border: solid 0.1rem #ffffff;
              box-sizing: border-box;
              width: 32.8rem;
            }
          }
          .auto-group-jxry-UYT {
            width: 51rem;
            height: 100%;
            position: relative;
            flex-shrink: 0;

            .menu-E1q {
              font-family: Inter, 'Source Sans Pro';
              position: absolute;
              left: 0;
              top: 0;
              font-size: 6.4rem;
              font-weight: 100;
              line-height: 1.2125;
              color: #ffffff;
              white-space: nowrap;
              width: 16.5rem;
              height: 7.8rem;
            }
            .group-9-jzB {
              left: 15.3rem;
              top: 5.3rem;
              width: 35.7rem;
              height: 27.2rem;
              position: absolute;

              .klipartz-s4o {
                top: 0;
                object-fit: cover;
                vertical-align: top;
                width: 24.6rem;
                height: 17.1rem;
                position: absolute;
                left: 11.1rem;
              }
              .pngwing-Q4j {
                top: 5.5rem;
                object-fit: cover;
                vertical-align: top;
                width: 24.9rem;
                height: 18.5rem;
                position: absolute;
                left: 0;
              }
              .pngegg-3-Xv3 {
                width: 16.5rem;
                height: 12.8rem;
                position: absolute;
                left: 17.2rem;
                top: 10.1rem;
                object-fit: cover;
                vertical-align: top;
              }
              .bekary-rxK {
                left: 14.3rem;
                top: 24rem;
                font-size: 2.592rem;
                font-weight: 800;
                line-height: 1.2125;
                width: 9.1rem;
                position: absolute;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                height: 3.2rem;
                color: #ffffff;
              }
              .rectangle-29-mpP {
                width: 32.8rem;
                height: 22.9rem;
                position: absolute;
                left: 1rem;
                top: 4.2rem;
                border: solid 0.1rem #ffffff;
                box-sizing: border-box;
              }
            }
          }
        }
        .auto-group-w4ys-VkP {
          flex-shrink: 0;
          box-sizing: border-box;
          padding-top: 0.7rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-w9fz-3G7 {
            align-items: flex-start;
            flex-shrink: 0;
            margin: 0rem 2rem 0.5rem 0rem;
            width: calc(100% - 2rem);
            height: 30.3rem;
            display: flex;

            .auto-group-krym-x8B {
              margin: 0.1rem 19.7rem 0rem 0rem;
              width: 32.8rem;
              height: 29.8rem;
              position: relative;
              flex-shrink: 0;

              .cakes-capcakes-4wu {
                font-size: 2.592rem;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                width: 23.7rem;
                height: 3.2rem;
                left: 5.7rem;
                color: #ffffff;
                white-space: nowrap;
                position: absolute;
                top: 26.6rem;
                font-weight: 800;
              }
              .group-28-Ys5 {
                box-sizing: border-box;
                height: 26rem;
                top: 3.1rem;
                background-image: url('REPLACE_IMAGE:6bd39791b1451a3b8f40e4d586a616c9be1b2cce');
                padding: 10.807rem 2.506rem 3.524rem 2.506rem;
                width: 26.1566rem;
                position: absolute;
                left: 4rem;
                background-size: 100% 100%;
                background-repeat: no-repeat;
                background-position: center;

                .pngwing-2-rcs {
                  width: 9.3193rem;
                  height: 11.6687rem;
                  object-fit: cover;
                  vertical-align: top;
                }
              }
              .rectangle-31-NLK {
                width: 32.8rem;
                height: 25rem;
                position: absolute;
                left: 0;
                top: 4.8rem;
                border: solid 0.1rem #ffffff;
                box-sizing: border-box;
              }
              .rectangle-2-VA3 {
                width: 16rem;
                height: 4.1rem;
                position: absolute;
                left: 8rem;
                top: 0;
                background-color: #b37b47;
                border-radius: 1.7rem;
              }
              .order-MCF {
                top: 0.3rem;
                font-size: 2.592rem;
                font-weight: 800;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                height: 3.2rem;
                left: 12.3rem;
                color: #ffffff;
                width: 7.4rem;
                position: absolute;
              }
            }
            .auto-group-cwbr-TFH {
              width: 32.8rem;
              height: 100%;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .auto-group-fguh-bsH {
                font-weight: 800;
                align-items: center;
                font-size: 2.592rem;
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 10.1rem 0.8rem 9.5rem;
                background-color: #b37b47;
                height: 4.1rem;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                display: flex;
                justify-content: center;
                border-radius: 1.7rem;
                width: calc(100% - 19.6rem);
              }
              .group-35-EQT {
                position: relative;
                flex-shrink: 0;
                width: 100%;
                height: 25.4rem;

                .group-30-ysq {
                  width: 24.4rem;
                  height: 25.4rem;
                  position: absolute;
                  left: 2.1rem;
                  top: 0;

                  .group-29-uWb {
                    width: 22.6rem;
                    height: 23rem;
                    position: absolute;
                    left: 0.9rem;
                    top: 0;

                    .pngegg-4-1-F4f {
                      height: 21.6rem;
                      position: absolute;
                      left: 1.7rem;
                      top: 0;
                      object-fit: cover;
                      vertical-align: top;
                      width: 20.9rem;
                    }
                    .pngegg-5-1-xDy {
                      width: 16rem;
                      height: 16rem;
                      position: absolute;
                      left: 0;
                      top: 7rem;
                      object-fit: cover;
                      vertical-align: top;
                    }
                  }
                  .coockiespretzels-HX9 {
                    height: 3.2rem;
                    position: absolute;
                    left: 0;
                    font-size: 2.592rem;
                    font-family: Inter, 'Source Sans Pro';
                    width: 24.4rem;
                    top: 22.2rem;
                    font-weight: 800;
                    line-height: 1.2125;
                    color: #ffffff;
                    white-space: nowrap;
                  }
                }
                .rectangle-30-Pq5 {
                  width: 32.8rem;
                  height: 25rem;
                  position: absolute;
                  left: 0;
                  top: 0.4rem;
                  border: solid 0.1rem #ffffff;
                  box-sizing: border-box;
                }
              }
            }
          }
          .auto-group-fs1h-iMZ {
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 11.6rem 0rem 7.8rem;
            width: calc(100% - 19.4rem);
            height: 4.1rem;
            display: flex;

            .auto-group-tbeb-E51 {
              font-size: 2.592rem;
              align-items: center;
              flex-shrink: 0;
              line-height: 1.2125;
              display: flex;
              justify-content: center;
              font-weight: 800;
              background-color: #b37b47;
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              border-radius: 1.7rem;
              margin-right: 38.2rem;
              width: 16rem;
              height: 100%;
            }
            .auto-group-tjmv-uwq {
              white-space: nowrap;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 1.7rem;
              width: 13.7rem;
              font-size: 2.592rem;
              background-color: #b37b47;
              flex-shrink: 0;
              height: 100%;
              font-weight: 800;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
  .auto-group-6ggs-zCb {
    flex-shrink: 0;
    width: 361.8rem;
    height: 213.1rem;
    position: relative;

    .group-40-8Zh {
      width: 317.5rem;
      height: 58rem;
      position: absolute;
      left: 0;
      top: 85.2rem;

      .photo2022-06-2321-45-36-1-TM5 {
        vertical-align: top;
        width: 316.6rem;
        height: 58rem;
        position: absolute;
        left: 0.9rem;
        top: 0;
        object-fit: cover;
      }
      .rectangle-1-Nyq {
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(89.59deg, #000000 8.49%, rgba(3, 3, 3, 0) 77.17%);
        width: 273rem;
        height: 58rem;
      }
      .frame-3-699 {
        width: 21.8247rem;
        height: 18.3rem;
        position: absolute;
        left: 25.2rem;
        top: 30.1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .why-traditionalartisax-bakery--pL3 {
        font-family: Italiana, 'Source Sans Pro';
        height: 11.4rem;
        position: absolute;
        font-size: 4.8rem;
        font-weight: 400;
        color: #d9d9d9;
        width: 73.6rem;
        left: 16.5rem;
        top: 5.5rem;
        line-height: 1.1775;
      }
      .frame-1-e4B {
        height: 19.4rem;
        position: absolute;
        left: 64.2rem;
        top: 28.8rem;
        object-fit: contain;
        vertical-align: top;
        width: 21.8247rem;
      }
      .frame-4-NVy {
        top: 28rem;
        object-fit: contain;
        vertical-align: top;
        width: 15.7457rem;
        height: 18.3rem;
        position: absolute;
        left: 107.3894rem;
      }
      .speed-delivery-24-h-7Cf {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        left: 104.3rem;
        color: #ffffff;
        position: absolute;
        top: 47.2rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        width: 23.5rem;
        height: 3rem;
      }
      .order-at-home-QxT {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        left: 23rem;
        font-size: 2.4rem;
        font-weight: 700;
        width: 16.8rem;
        top: 49.4rem;
        line-height: 1.2125;
      }
      .fresh-food-iy9 {
        top: 49.5rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 70.3rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        width: 12.5rem;
        height: 3rem;
      }
    }
    .group-45-pmH {
      height: 85.4rem;
      position: absolute;
      left: 0;
      top: 0;
      width: 228.6rem;

      .rectangle-16-xcb {
        height: 85.2rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #202023;
        width: 144.8rem;
      }
      .group-24-u23 {
        position: absolute;
        left: 0;
        top: 21.1rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 106.1rem;
        height: 64.3rem;

        .quality-our-bekary-26f {
          margin: 0rem 46.9rem 2.7rem 0rem;
          font-size: 6.4rem;
          font-weight: 900;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .quality-our-bekary-wDd {
          flex-shrink: 0;
          margin: 0rem 30.1rem 4.6rem 0rem;
          font-size: 6.4rem;
          font-weight: 900;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .quality-our-bekary-rbV {
          flex-shrink: 0;
          margin: 0rem 14.5rem 2.7rem 0rem;
          font-size: 6.4rem;
          font-weight: 900;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .quality-our-bekary-AcB {
          margin: 0rem 0rem 4.6rem 9.7rem;
          font-size: 6.4rem;
          font-weight: 900;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .quality-our-bekary-VeT {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 2.9rem 25.1rem;
          font-size: 6.4rem;
          font-weight: 900;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
        }
        .quality-our-bekary-cUB {
          margin-left: 46.9rem;
          font-size: 6.4rem;
          font-weight: 900;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-44-wmM {
        width: 184.4rem;
        height: 85.4rem;
        position: absolute;
        left: 0;
        top: 0;

        .group-24-giw {
          position: absolute;
          left: 16.1rem;
          top: 21rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          width: 106.1rem;
          height: 64.3rem;

          .quality-our-bekary-1WK {
            font-size: 6.4rem;
            font-weight: 900;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 46.9rem 2.7rem 0rem;
          }
          .quality-our-bekary-6nf {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 30.1rem 4.6rem 0rem;
            font-size: 6.4rem;
            font-weight: 900;
            line-height: 1.2125;
          }
          .quality-our-bekary-2gK {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 14.5rem 2.7rem 0rem;
            font-size: 6.4rem;
            font-weight: 900;
            line-height: 1.2125;
          }
          .quality-our-bekary-A1q {
            font-weight: 900;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 4.6rem 9.7rem;
            font-size: 6.4rem;
          }
          .quality-our-bekary-5eb {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 2.9rem 25.1rem;
            font-size: 6.4rem;
            font-weight: 900;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
          }
          .quality-our-bekary-DF1 {
            font-size: 6.4rem;
            font-weight: 900;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-left: 46.9rem;
          }
        }
        .group-43-9eT {
          height: 85.4rem;
          position: absolute;
          left: 0;
          top: 0;
          width: 184.4rem;

          .rectangle-26-4WX {
            height: 85.2rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: rgba(32, 32, 35, 0.5);
            opacity: 0.5;
            width: 144.8rem;
          }
          .quality-our-bekary-nxK {
            width: 50.1rem;
            font-size: 6.4rem;
            font-weight: 400;
            color: #ffffff;
            font-family: Italiana, 'Source Sans Pro';
            white-space: nowrap;
            height: 7.6rem;
            position: absolute;
            left: 59.3rem;
            top: 9rem;
            line-height: 1.1775;
          }
          .group-25-uGF {
            top: 21.1rem;
            width: 106.1rem;
            height: 64.3rem;
            position: absolute;
            left: 78.2rem;

            .quality-our-bekary-EJX {
              height: 7.8rem;
              line-height: 1.2125;
              left: 0;
              top: 0;
              font-size: 6.4rem;
              font-weight: 900;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 59.2rem;
              position: absolute;
            }
            .quality-our-bekary-M8F {
              font-family: Inter, 'Source Sans Pro';
              left: 46.9rem;
              top: 56.5rem;
              font-weight: 900;
              font-size: 6.4rem;
              line-height: 1.2125;
              white-space: nowrap;
              width: 59.2rem;
              height: 7.8rem;
              position: absolute;
            }
            .quality-our-bekary-TSB {
              font-size: 6.4rem;
              font-weight: 900;
              width: 59.2rem;
              height: 7.8rem;
              position: absolute;
              top: 45.8rem;
              left: 36rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .quality-our-bekary-aWo {
              height: 7.8rem;
              position: absolute;
              top: 22.9rem;
              font-weight: 900;
              white-space: nowrap;
              width: 59.2rem;
              left: 16.2rem;
              font-size: 6.4rem;
              line-height: 1.2125;
              font-family: Inter, 'Source Sans Pro';
            }
            .quality-our-bekary-hLX {
              font-family: Inter, 'Source Sans Pro';
              width: 59.2rem;
              position: absolute;
              left: 8.4rem;
              font-size: 6.4rem;
              font-weight: 900;
              line-height: 1.2125;
              height: 7.8rem;
              top: 10.5rem;
              white-space: nowrap;
            }
            .quality-our-bekary-pR9 {
              height: 7.8rem;
              position: absolute;
              left: 28.3rem;
              top: 33.4rem;
              font-size: 6.4rem;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              width: 59.2rem;
              line-height: 1.2125;
              font-weight: 900;
            }
            .pngwing-4-uSb {
              position: absolute;
              left: 12.2rem;
              top: 7.7rem;
              object-fit: cover;
              vertical-align: top;
              width: 33.4rem;
              height: 33.2rem;
            }
            .group-33-dNb {
              position: absolute;
              box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.25);
              backdrop-filter: blur(1.8rem);
              background-color: rgba(242, 242, 242, 0.3000000119);
              height: 19.8458rem;
              padding: 1.4rem 2.61rem 1.4rem 2rem;
              width: 29.2102rem;
              left: 14.5rem;
              top: 39.5rem;
              box-sizing: border-box;

              .flour-with-fresh-wheat-2new-drozzhi-3fresh-eggs-4water-from-the-well-KmD {
                font-size: 2.4rem;
                font-weight: 500;
                line-height: 1.2125;
                color: #ffffff;
                font-family: Inter, 'Source Sans Pro';
                max-width: 24.6rem;
              }
            }
          }
          .pngegg-4-2-B2j {
            left: 54.8rem;
            top: 24.9rem;
            object-fit: cover;
            vertical-align: top;
            width: 27.5rem;
            height: 28.4rem;
            position: absolute;
          }
          .group-32-hWs {
            height: 19.8458rem;
            box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.25);
            background-color: rgba(242, 242, 242, 0.3000000119);
            backdrop-filter: blur(1.8rem);
            box-sizing: border-box;
            padding: 2.6rem 0.51rem 2.6rem 1.3rem;
            width: 29.2102rem;
            position: absolute;
            left: 22rem;
            top: 34.7rem;

            .flour-with-fresh-wheat-2new-drozzhi-3fresh-eggs-4water-from-the-well-DEK {
              font-family: Inter, 'Source Sans Pro';
              max-width: 27.4rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.2125;
              color: #ffffff;
            }
          }
          .group-31-HEB {
            background-color: rgba(242, 242, 242, 0.3000000119);
            box-sizing: border-box;
            padding: 3.2rem 0.81rem 4.946rem 1rem;
            width: 29.2102rem;
            height: 19.8458rem;
            top: 53.2rem;
            position: absolute;
            left: 54.5rem;
            box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.25);
            backdrop-filter: blur(1.8rem);

            .flour-with-fresh-wheat-2new-drozzhi-3fresh-eggs-4water-from-the-well-CM9 {
              color: #ffffff;
              font-family: Inter, 'Source Sans Pro';
              max-width: 27.4rem;
              font-size: 2.4rem;
              font-weight: 500;
              line-height: 1.2125;
            }
          }
          .group-14-GM1 {
            left: 17.1rem;
            background-repeat: no-repeat;
            padding: 0.91rem 0rem 0.91rem 0rem;
            width: 35.589rem;
            height: 22.3rem;
            background-size: 100% 100%;
            background-position: center;
            background-image: url('REPLACE_IMAGE:cc24559b287209364719c3ed1bfd794f594b64aa');
            box-sizing: border-box;
            position: absolute;
            top: 10.4rem;

            .rectangle-22-PAj {
              background: linear-gradient(81.4deg, #000000 -110.34%, #202023 -110.33%, rgba(0, 0, 0, 0) 80.32%);
              border-radius: 11.25rem;
              width: 30.2188rem;
              height: 20.4796rem;
            }
          }
        }
      }
    }
    .group-41-TAb {
      height: 70.4rem;
      position: absolute;
      left: 0;
      top: 142.7rem;
      width: 145.1rem;

      .where-mwy {
        top: 6rem;
        font-weight: 400;
        font-family: Italiana, 'Source Sans Pro';
        white-space: nowrap;
        width: 17.2rem;
        left: 18.8785rem;
        font-size: 6.4rem;
        line-height: 1.1775;
        color: #ffffff;
        height: 7.6rem;
        position: absolute;
      }
      .rectangle-27-h4w {
        width: 145.1rem;
        height: 70.4rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #202023;
      }
      .image-1-qB9 {
        height: 48.7rem;
        position: absolute;
        left: 15.9664rem;
        top: 16.7rem;
        object-fit: cover;
        vertical-align: top;
        width: 53.5213rem;
      }
      .where-8AF {
        left: 15.9664rem;
        top: 6.6rem;
        color: #ffffff;
        white-space: nowrap;
        height: 5.7rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.1775;
        font-family: Italiana, 'Source Sans Pro';
        width: 12.9rem;
        font-size: 4.8rem;
      }
      .how-dMu {
        top: 18rem;
        font-size: 4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #ffffff;
        height: 4.9rem;
        position: absolute;
        left: 82.7426rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.6rem;
      }
      .item-38-055-123-13-12-WwV {
        white-space: nowrap;
        height: 3rem;
        position: absolute;
        top: 27.3rem;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 20.8rem;
        left: 82.7426rem;
        font-size: 2.4rem;
        font-weight: 300;
      }
      .with-8-30-to-20-30-bxw {
        height: 3rem;
        left: 104.8736rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 19.1rem;
        position: absolute;
        top: 27.3rem;
        text-align: center;
        font-size: 2.4rem;
        font-weight: 200;
        color: #ffffff;
      }
      .when-JMZ {
        width: 13.1rem;
        height: 4.9rem;
        left: 108.9509rem;
        line-height: 1.2102272034;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 18.5rem;
        font-size: 4rem;
        font-weight: 800;
        white-space: nowrap;
        display: flex;
        align-items: baseline;

        .when-JMZ-sub-0 {
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .when-JMZ-sub-1 {
          font-size: 4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .tik-tok-trbekary-inst-trbekary-a67 {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 22.5rem;
        top: 36.7rem;
        line-height: 1.2125;
        font-size: 2.4rem;
        font-weight: 300;
        height: 8.8rem;
        position: absolute;
        left: 82.7426rem;
      }
    }
  }
  .group-42-s5D {
    box-sizing: border-box;
    padding: 4rem 20.132rem 4.3rem 16.067rem;
    width: 144.6rem;
    height: 35.1rem;
    display: flex;
    align-items: center;
    background-color: #202023;
    flex-shrink: 0;

    .auto-group-jeuq-mRV {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 7.966rem 8.7rem 0rem;

      .traditional-artisax-bakery-i5q {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 1.5rem;
        max-width: 32rem;
        font-size: 4rem;
        font-weight: 200;
        line-height: 1.2125;
        color: #ffffff;
      }
      .we-want-be-helthy-od5 {
        font-weight: 300;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 1.7071rem;
        font-size: 2rem;
      }
    }
    .auto-group-jnwf-89Z {
      margin-right: 14.7496rem;
      width: 41.1179rem;
      height: 100%;
      flex-shrink: 0;

      .auto-group-khor-rrF {
        align-items: center;
        margin: 0rem 0.1rem 4rem 0.014rem;
        width: calc(100% - 0.1142rem);
        display: flex;

        .about-anF {
          text-align: center;
          line-height: 1.2125;
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 21.6038rem;
          font-size: 2.4rem;
          font-weight: 300;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
        }
        .movement-7GP {
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.4rem;
          font-weight: 300;
        }
      }
      .auto-group-ueyz-FdV {
        width: 100%;
        display: flex;
        align-items: flex-start;
        margin-bottom: 8.5rem;

        .about-us-features-news-blog-QmH {
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 14.2179rem;
          max-width: 14.2rem;
          font-size: 2.4rem;
          font-weight: 300;
        }
        .what-eatly-support-us-8hH {
          font-size: 2.4rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 12.7rem;
        }
      }
      .eatlyall-right-riserved-s95 {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 2.0083rem;
        font-size: 2rem;
        font-weight: 100;
      }
    }
    .auto-group-vzkq-CBM {
      margin-bottom: 11rem;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .company-YFD {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 4rem;
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1.2125;
        color: #ffffff;
      }
      .why-eatly-capital-securaty-gMR {
        font-weight: 300;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 0.7675rem;
        max-width: 11.8rem;
        font-size: 2.4rem;
      }
    }
  }
}
