
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-2-aEw {
  width: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.desktop-2-aEw .auto-group-ajbm-nro {
  width: 175.8rem;
  height: 181.8rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 {
  width: 175.8rem;
  height: 104.9rem;
  position: absolute;
  left: 0;
  top: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .photo2022-06-0513-14-26-1-zrP {
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 0.1rem;
  top: 0.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .rectangle-1-JMH {
  width: 144rem;
  height: 102.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(89.59deg, #000000 8.49%, rgba(3, 3, 3, 0) 50.14%);
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V {
  width: 117rem;
  height: 93.8rem;
  position: absolute;
  left: 15.6rem;
  top: 5.5rem;
  overflow: hidden;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .about-us-delivery-menu-contacts-reviews-6nw {
  margin: 0rem 0rem 7rem 1rem;
  font-size: 2.4rem;
  font-weight: 200;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .traditional-artisax-bakery-wHm {
  margin-bottom: 2.2rem;
  max-width: 56rem;
  font-size: 7rem;
  font-weight: 200;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .lorem-ipsum-is-simply-dummy-text-of-the-printing-and-typesetting-industry-lorem-ipsum-has-been-the-industrys-standard-dummy-text-ever-since-the-1500s-when-an-unknown-printer-took-a-galley-of-type-and-scrambled-it-to-make-a-type-specimen-book-it-has-survived-not-only-five-centuries-but-also-the-leap-into-electronic-typesetting-remaining-essentially-unchanged-dK1 {
  margin: 0rem 0rem 2.9rem 1.4rem;
  max-width: 57.1rem;
  font-size: 2.1rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-r6mq-MuD {
  margin: 0rem 0rem 10.8rem 1.1rem;
  width: 20.7rem;
  height: 5.7rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b37b47;
  border-radius: 1.7rem;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 {
  margin-left: 1.4rem;
  display: flex;
  align-items: center;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-agtt-i7V {
  margin: 0rem 9.6rem 0.6rem 0rem;
  width: 31.2rem;
  height: 24.2rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-agtt-i7V .rectangle-3-yBq {
  width: 31rem;
  height: 22.5rem;
  position: absolute;
  left: 0.2rem;
  top: 1.7rem;
  background-color: #272727;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-agtt-i7V .pngwing-1-Gwd {
  width: 15rem;
  height: 22.5rem;
  position: absolute;
  left: 0.6rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-agtt-i7V .ellipse-1-pCT {
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  left: 13.4rem;
  top: 18.6rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0);
  border-radius: 1.15rem;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-agtt-i7V .item--uUo {
  width: 0.6rem;
  height: 2rem;
  position: absolute;
  left: 14.3rem;
  top: 18.9rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-agtt-i7V .american-cockie-1Xq {
  width: 13rem;
  height: 2rem;
  position: absolute;
  left: 17rem;
  top: 11rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-agtt-i7V .rectangle-5-iSF {
  width: 7.9rem;
  height: 3.4rem;
  position: absolute;
  left: 20.1rem;
  top: 16.4rem;
  background-color: #c75312;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-agtt-i7V .buy-D87 {
  width: 3.5rem;
  height: 2rem;
  position: absolute;
  left: 22.3rem;
  top: 17.4rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-agtt-i7V .kg-v2X {
  width: 10.5rem;
  height: 3rem;
  position: absolute;
  left: 18.8rem;
  top: 6.8rem;
  font-size: 2.4rem;
  font-weight: 200;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-agtt-i7V .rectangle-4-RV5 {
  width: 16.2rem;
  height: 22.5rem;
  position: absolute;
  left: 0;
  top: 1.7rem;
  background: linear-gradient(81.4deg, #000000 -110.34%, rgba(0, 0, 0, 0) 80.32%);
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-sumd-iyy {
  margin: 1.7rem 2.6rem 0rem 0rem;
  width: 31.8rem;
  height: 23.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-sumd-iyy .rectangle-6-qHu {
  width: 31rem;
  height: 22.5rem;
  position: absolute;
  left: 0.8rem;
  top: 0;
  background-color: #272727;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-sumd-iyy .ellipse-3-ZUo {
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  left: 19rem;
  top: 16.9rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0);
  border-radius: 1.15rem;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-sumd-iyy .item--4gT {
  width: 0.6rem;
  height: 2rem;
  position: absolute;
  left: 19.9rem;
  top: 17.2rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-sumd-iyy .pngegg-1-1-mqm {
  width: 21.3rem;
  height: 22.5rem;
  position: absolute;
  left: 0;
  top: 0.6rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-sumd-iyy .rectangle-7-Hp7 {
  width: 7.9rem;
  height: 3.4rem;
  position: absolute;
  left: 22.2rem;
  top: 14.7rem;
  background-color: #c75312;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-sumd-iyy .buy-cLb {
  width: 3.5rem;
  height: 2rem;
  position: absolute;
  left: 24.4rem;
  top: 15.7rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-sumd-iyy .item-400-hcw {
  width: 6.4rem;
  height: 3rem;
  position: absolute;
  left: 23.8rem;
  top: 5.1rem;
  font-size: 2.4rem;
  font-weight: 200;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-sumd-iyy .rectangle-8-AWX {
  width: 21.5rem;
  height: 22.5rem;
  position: absolute;
  left: 0.8rem;
  top: 0.3rem;
  background: linear-gradient(81.4deg, #000000 -110.34%, rgba(0, 0, 0, 0) 80.32%);
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-sumd-iyy .crushed-with-chockolate-fiB {
  width: 9rem;
  height: 3.4rem;
  position: absolute;
  left: 22.2rem;
  top: 7.9rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .arrow-1-ZYf {
  margin: 0.9rem 9.4rem 0rem 0rem;
  width: 0;
  height: 0.1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-xzgs-gNP {
  margin-top: 2rem;
  width: 31rem;
  height: 22.8rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-xzgs-gNP .ellipse-2-DNK {
  width: 2.3rem;
  height: 2.3rem;
  position: absolute;
  left: 17.5rem;
  top: 17.1rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: rgba(217, 217, 217, 0);
  border-radius: 1.15rem;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-xzgs-gNP .item--8EP {
  width: 0.6rem;
  height: 2rem;
  position: absolute;
  left: 18.4rem;
  top: 17.4rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-xzgs-gNP .group-7-EoD {
  width: 31rem;
  height: 22.8rem;
  position: absolute;
  left: 0;
  top: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-xzgs-gNP .group-7-EoD .rectangle-9-NuR {
  width: 31rem;
  height: 22.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #eaad50;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-xzgs-gNP .group-7-EoD .imgbinblueberry-pie-blackberry-pie-rhubarb-pie-apple-pie-tart-png-1-iyH {
  width: 19.3rem;
  height: 19.3rem;
  position: absolute;
  left: 0.6rem;
  top: 2.8rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-xzgs-gNP .group-7-EoD .rectangle-10-2j5 {
  width: 7.9rem;
  height: 3.4rem;
  position: absolute;
  left: 20rem;
  top: 14.4rem;
  background-color: #c75312;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-xzgs-gNP .group-7-EoD .buy-mRm {
  width: 3.5rem;
  height: 2rem;
  position: absolute;
  left: 22.2rem;
  top: 14.7rem;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-xzgs-gNP .group-7-EoD .for-piece-400-god {
  width: 11rem;
  height: 5.9rem;
  position: absolute;
  left: 18.5rem;
  top: 2.5rem;
  font-size: 2.4rem;
  font-weight: 200;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-xzgs-gNP .group-7-EoD .blackberry-pie-yXq {
  width: 11.1rem;
  height: 2rem;
  position: absolute;
  left: 19rem;
  top: 9.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-xzgs-gNP .group-7-EoD .rectangle-11-555 {
  width: 23.5rem;
  height: 22.5rem;
  position: absolute;
  left: 0;
  top: 0.3rem;
  background: linear-gradient(81.4deg, #000000 -110.34%, rgba(0, 0, 0, 0) 80.32%);
}
.desktop-2-aEw .auto-group-ajbm-nro .group-37-fp7 .frame-5-b5V .auto-group-nxz9-Pb1 .auto-group-xzgs-gNP .group-7-EoD .pngegg-2-1-nkB {
  width: 1.2rem;
  height: 2.7rem;
  position: absolute;
  left: 21.6rem;
  top: 18.9rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV {
  box-sizing: border-box;
  padding: 2.1rem 29.2rem 2.1rem 27.5rem;
  width: 144rem;
  height: 77.5rem;
  position: absolute;
  left: 0;
  top: 102.3rem;
  background-color: #202023;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ {
  width: 100%;
  height: 68.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-hw4b-9j9 {
  width: 100%;
  height: 32.5rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-hw4b-9j9 .auto-group-kpkm-uCX {
  margin: 0rem 3.5rem 0.027rem 0rem;
  width: 32.8rem;
  height: 22.9732rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-hw4b-9j9 .auto-group-kpkm-uCX .group-27-2H9 {
  width: 29.4rem;
  height: 21.5732rem;
  position: absolute;
  left: 2rem;
  top: 1.4rem;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-hw4b-9j9 .auto-group-kpkm-uCX .group-27-2H9 .bread-mart-bread-with-no-background-1558851-1-kiw {
  width: 29.4rem;
  height: 18.439rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-hw4b-9j9 .auto-group-kpkm-uCX .group-27-2H9 .breads-Uew {
  width: 9rem;
  height: 3.2rem;
  position: absolute;
  left: 10.1366rem;
  top: 18.3732rem;
  font-size: 2.592rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-hw4b-9j9 .auto-group-kpkm-uCX .rectangle-28-nQj {
  width: 32.8rem;
  height: 22.9rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-hw4b-9j9 .auto-group-jxry-UYT {
  width: 51rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-hw4b-9j9 .auto-group-jxry-UYT .menu-E1q {
  width: 16.5rem;
  height: 7.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 6.4rem;
  font-weight: 100;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-hw4b-9j9 .auto-group-jxry-UYT .group-9-jzB {
  width: 35.7rem;
  height: 27.2rem;
  position: absolute;
  left: 15.3rem;
  top: 5.3rem;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-hw4b-9j9 .auto-group-jxry-UYT .group-9-jzB .klipartz-s4o {
  width: 24.6rem;
  height: 17.1rem;
  position: absolute;
  left: 11.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-hw4b-9j9 .auto-group-jxry-UYT .group-9-jzB .pngwing-Q4j {
  width: 24.9rem;
  height: 18.5rem;
  position: absolute;
  left: 0;
  top: 5.5rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-hw4b-9j9 .auto-group-jxry-UYT .group-9-jzB .pngegg-3-Xv3 {
  width: 16.5rem;
  height: 12.8rem;
  position: absolute;
  left: 17.2rem;
  top: 10.1rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-hw4b-9j9 .auto-group-jxry-UYT .group-9-jzB .bekary-rxK {
  width: 9.1rem;
  height: 3.2rem;
  position: absolute;
  left: 14.3rem;
  top: 24rem;
  font-size: 2.592rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-hw4b-9j9 .auto-group-jxry-UYT .group-9-jzB .rectangle-29-mpP {
  width: 32.8rem;
  height: 22.9rem;
  position: absolute;
  left: 1rem;
  top: 4.2rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP {
  box-sizing: border-box;
  padding-top: 0.7rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 {
  margin: 0rem 2rem 0.5rem 0rem;
  width: calc(100% - 2rem);
  height: 30.3rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-krym-x8B {
  margin: 0.1rem 19.7rem 0rem 0rem;
  width: 32.8rem;
  height: 29.8rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-krym-x8B .cakes-capcakes-4wu {
  width: 23.7rem;
  height: 3.2rem;
  position: absolute;
  left: 5.7rem;
  top: 26.6rem;
  font-size: 2.592rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-krym-x8B .group-28-Ys5 {
  box-sizing: border-box;
  padding: 10.807rem 2.506rem 3.524rem 2.506rem;
  width: 26.1566rem;
  height: 26rem;
  position: absolute;
  left: 4rem;
  top: 3.1rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/pngwing-3-bg.png');
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-krym-x8B .group-28-Ys5 .pngwing-2-rcs {
  width: 9.3193rem;
  height: 11.6687rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-krym-x8B .rectangle-31-NLK {
  width: 32.8rem;
  height: 25rem;
  position: absolute;
  left: 0;
  top: 4.8rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-krym-x8B .rectangle-2-VA3 {
  width: 16rem;
  height: 4.1rem;
  position: absolute;
  left: 8rem;
  top: 0;
  background-color: #b37b47;
  border-radius: 1.7rem;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-krym-x8B .order-MCF {
  width: 7.4rem;
  height: 3.2rem;
  position: absolute;
  left: 12.3rem;
  top: 0.3rem;
  font-size: 2.592rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-cwbr-TFH {
  width: 32.8rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-cwbr-TFH .auto-group-fguh-bsH {
  margin: 0rem 10.1rem 0.8rem 9.5rem;
  width: calc(100% - 19.6rem);
  height: 4.1rem;
  font-size: 2.592rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b37b47;
  border-radius: 1.7rem;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-cwbr-TFH .group-35-EQT {
  width: 100%;
  height: 25.4rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-cwbr-TFH .group-35-EQT .group-30-ysq {
  width: 24.4rem;
  height: 25.4rem;
  position: absolute;
  left: 2.1rem;
  top: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-cwbr-TFH .group-35-EQT .group-30-ysq .group-29-uWb {
  width: 22.6rem;
  height: 23rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-cwbr-TFH .group-35-EQT .group-30-ysq .group-29-uWb .pngegg-4-1-F4f {
  width: 20.9rem;
  height: 21.6rem;
  position: absolute;
  left: 1.7rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-cwbr-TFH .group-35-EQT .group-30-ysq .group-29-uWb .pngegg-5-1-xDy {
  width: 16rem;
  height: 16rem;
  position: absolute;
  left: 0;
  top: 7rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-cwbr-TFH .group-35-EQT .group-30-ysq .coockiespretzels-HX9 {
  width: 24.4rem;
  height: 3.2rem;
  position: absolute;
  left: 0;
  top: 22.2rem;
  font-size: 2.592rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-w9fz-3G7 .auto-group-cwbr-TFH .group-35-EQT .rectangle-30-Pq5 {
  width: 32.8rem;
  height: 25rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-fs1h-iMZ {
  margin: 0rem 11.6rem 0rem 7.8rem;
  width: calc(100% - 19.4rem);
  height: 4.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-fs1h-iMZ .auto-group-tbeb-E51 {
  margin-right: 38.2rem;
  width: 16rem;
  height: 100%;
  font-size: 2.592rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b37b47;
  border-radius: 1.7rem;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-ajbm-nro .group-46-VuV .group-38-QmZ .auto-group-w4ys-VkP .auto-group-fs1h-iMZ .auto-group-tjmv-uwq {
  width: 13.7rem;
  height: 100%;
  font-size: 2.592rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b37b47;
  border-radius: 1.7rem;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb {
  width: 361.8rem;
  height: 213.1rem;
  position: relative;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-40-8Zh {
  width: 317.5rem;
  height: 58rem;
  position: absolute;
  left: 0;
  top: 85.2rem;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-40-8Zh .photo2022-06-2321-45-36-1-TM5 {
  width: 316.6rem;
  height: 58rem;
  position: absolute;
  left: 0.9rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-40-8Zh .rectangle-1-Nyq {
  width: 273rem;
  height: 58rem;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(89.59deg, #000000 8.49%, rgba(3, 3, 3, 0) 77.17%);
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-40-8Zh .frame-3-699 {
  width: 21.8247rem;
  height: 18.3rem;
  position: absolute;
  left: 25.2rem;
  top: 30.1rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-40-8Zh .why-traditionalartisax-bakery--pL3 {
  width: 73.6rem;
  height: 11.4rem;
  position: absolute;
  left: 16.5rem;
  top: 5.5rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.1775;
  color: #d9d9d9;
  font-family: Italiana, 'Source Sans Pro';
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-40-8Zh .frame-1-e4B {
  width: 21.8247rem;
  height: 19.4rem;
  position: absolute;
  left: 64.2rem;
  top: 28.8rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-40-8Zh .frame-4-NVy {
  width: 15.7457rem;
  height: 18.3rem;
  position: absolute;
  left: 107.3894rem;
  top: 28rem;
  object-fit: contain;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-40-8Zh .speed-delivery-24-h-7Cf {
  width: 23.5rem;
  height: 3rem;
  position: absolute;
  left: 104.3rem;
  top: 47.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-40-8Zh .order-at-home-QxT {
  width: 16.8rem;
  height: 3rem;
  position: absolute;
  left: 23rem;
  top: 49.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-40-8Zh .fresh-food-iy9 {
  width: 12.5rem;
  height: 3rem;
  position: absolute;
  left: 70.3rem;
  top: 49.5rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH {
  width: 228.6rem;
  height: 85.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .rectangle-16-xcb {
  width: 144.8rem;
  height: 85.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #202023;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-24-u23 {
  width: 106.1rem;
  height: 64.3rem;
  position: absolute;
  left: 0;
  top: 21.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-24-u23 .quality-our-bekary-26f {
  margin: 0rem 46.9rem 2.7rem 0rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-24-u23 .quality-our-bekary-wDd {
  margin: 0rem 30.1rem 4.6rem 0rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-24-u23 .quality-our-bekary-rbV {
  margin: 0rem 14.5rem 2.7rem 0rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-24-u23 .quality-our-bekary-AcB {
  margin: 0rem 0rem 4.6rem 9.7rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-24-u23 .quality-our-bekary-VeT {
  margin: 0rem 0rem 2.9rem 25.1rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-24-u23 .quality-our-bekary-cUB {
  margin-left: 46.9rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM {
  width: 184.4rem;
  height: 85.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-24-giw {
  width: 106.1rem;
  height: 64.3rem;
  position: absolute;
  left: 16.1rem;
  top: 21rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-24-giw .quality-our-bekary-1WK {
  margin: 0rem 46.9rem 2.7rem 0rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-24-giw .quality-our-bekary-6nf {
  margin: 0rem 30.1rem 4.6rem 0rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-24-giw .quality-our-bekary-2gK {
  margin: 0rem 14.5rem 2.7rem 0rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-24-giw .quality-our-bekary-A1q {
  margin: 0rem 0rem 4.6rem 9.7rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-24-giw .quality-our-bekary-5eb {
  margin: 0rem 0rem 2.9rem 25.1rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-24-giw .quality-our-bekary-DF1 {
  margin-left: 46.9rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT {
  width: 184.4rem;
  height: 85.4rem;
  position: absolute;
  left: 0;
  top: 0;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .rectangle-26-4WX {
  opacity: 0.5;
  width: 144.8rem;
  height: 85.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(32, 32, 35, 0.5);
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .quality-our-bekary-nxK {
  width: 50.1rem;
  height: 7.6rem;
  position: absolute;
  left: 59.3rem;
  top: 9rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.1775;
  color: #ffffff;
  font-family: Italiana, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-25-uGF {
  width: 106.1rem;
  height: 64.3rem;
  position: absolute;
  left: 78.2rem;
  top: 21.1rem;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-25-uGF .quality-our-bekary-EJX {
  width: 59.2rem;
  height: 7.8rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-25-uGF .quality-our-bekary-M8F {
  width: 59.2rem;
  height: 7.8rem;
  position: absolute;
  left: 46.9rem;
  top: 56.5rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-25-uGF .quality-our-bekary-TSB {
  width: 59.2rem;
  height: 7.8rem;
  position: absolute;
  left: 36rem;
  top: 45.8rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-25-uGF .quality-our-bekary-aWo {
  width: 59.2rem;
  height: 7.8rem;
  position: absolute;
  left: 16.2rem;
  top: 22.9rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-25-uGF .quality-our-bekary-hLX {
  width: 59.2rem;
  height: 7.8rem;
  position: absolute;
  left: 8.4rem;
  top: 10.5rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-25-uGF .quality-our-bekary-pR9 {
  width: 59.2rem;
  height: 7.8rem;
  position: absolute;
  left: 28.3rem;
  top: 33.4rem;
  font-size: 6.4rem;
  font-weight: 900;
  line-height: 1.2125;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-25-uGF .pngwing-4-uSb {
  width: 33.4rem;
  height: 33.2rem;
  position: absolute;
  left: 12.2rem;
  top: 7.7rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-25-uGF .group-33-dNb {
  box-sizing: border-box;
  padding: 1.4rem 2.61rem 1.4rem 2rem;
  width: 29.2102rem;
  height: 19.8458rem;
  position: absolute;
  left: 14.5rem;
  top: 39.5rem;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1.8rem);
  background-color: rgba(242, 242, 242, 0.3000000119);
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-25-uGF .group-33-dNb .flour-with-fresh-wheat-2new-drozzhi-3fresh-eggs-4water-from-the-well-KmD {
  max-width: 24.6rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .pngegg-4-2-B2j {
  width: 27.5rem;
  height: 28.4rem;
  position: absolute;
  left: 54.8rem;
  top: 24.9rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-32-hWs {
  box-sizing: border-box;
  padding: 2.6rem 0.51rem 2.6rem 1.3rem;
  width: 29.2102rem;
  height: 19.8458rem;
  position: absolute;
  left: 22rem;
  top: 34.7rem;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1.8rem);
  background-color: rgba(242, 242, 242, 0.3000000119);
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-32-hWs .flour-with-fresh-wheat-2new-drozzhi-3fresh-eggs-4water-from-the-well-DEK {
  max-width: 27.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-31-HEB {
  box-sizing: border-box;
  padding: 3.2rem 0.81rem 4.946rem 1rem;
  width: 29.2102rem;
  height: 19.8458rem;
  position: absolute;
  left: 54.5rem;
  top: 53.2rem;
  box-shadow: 0 0.4rem 2rem rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(1.8rem);
  background-color: rgba(242, 242, 242, 0.3000000119);
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-31-HEB .flour-with-fresh-wheat-2new-drozzhi-3fresh-eggs-4water-from-the-well-CM9 {
  max-width: 27.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-14-GM1 {
  box-sizing: border-box;
  padding: 0.91rem 0rem 0.91rem 0rem;
  width: 35.589rem;
  height: 22.3rem;
  position: absolute;
  left: 17.1rem;
  top: 10.4rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bread-mart-bread-with-no-background-1558851-2-bg.png');
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-45-pmH .group-44-wmM .group-43-9eT .group-14-GM1 .rectangle-22-PAj {
  width: 30.2188rem;
  height: 20.4796rem;
  background: linear-gradient(81.4deg, #000000 -110.34%, #202023 -110.33%, rgba(0, 0, 0, 0) 80.32%);
  border-radius: 11.25rem;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-41-TAb {
  width: 145.1rem;
  height: 70.4rem;
  position: absolute;
  left: 0;
  top: 142.7rem;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-41-TAb .where-mwy {
  width: 17.2rem;
  height: 7.6rem;
  position: absolute;
  left: 18.8785rem;
  top: 6rem;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.1775;
  color: #ffffff;
  font-family: Italiana, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-41-TAb .rectangle-27-h4w {
  width: 145.1rem;
  height: 70.4rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #202023;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-41-TAb .image-1-qB9 {
  width: 53.5213rem;
  height: 48.7rem;
  position: absolute;
  left: 15.9664rem;
  top: 16.7rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-41-TAb .where-8AF {
  width: 12.9rem;
  height: 5.7rem;
  position: absolute;
  left: 15.9664rem;
  top: 6.6rem;
  font-size: 4.8rem;
  font-weight: 400;
  line-height: 1.1775;
  color: #ffffff;
  font-family: Italiana, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-41-TAb .how-dMu {
  width: 8.6rem;
  height: 4.9rem;
  position: absolute;
  left: 82.7426rem;
  top: 18rem;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-41-TAb .item-38-055-123-13-12-WwV {
  width: 20.8rem;
  height: 3rem;
  position: absolute;
  left: 82.7426rem;
  top: 27.3rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-41-TAb .with-8-30-to-20-30-bxw {
  width: 19.1rem;
  height: 3rem;
  position: absolute;
  left: 104.8736rem;
  top: 27.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 200;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-41-TAb .when-JMZ {
  width: 13.1rem;
  height: 4.9rem;
  position: absolute;
  left: 108.9509rem;
  top: 18.5rem;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.2102272034;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-41-TAb .when-JMZ .when-JMZ-sub-0 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-41-TAb .when-JMZ .when-JMZ-sub-1 {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-2-aEw .auto-group-6ggs-zCb .group-41-TAb .tik-tok-trbekary-inst-trbekary-a67 {
  width: 22.5rem;
  height: 8.8rem;
  position: absolute;
  left: 82.7426rem;
  top: 36.7rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
}
.desktop-2-aEw .group-42-s5D {
  box-sizing: border-box;
  padding: 4rem 20.132rem 4.3rem 16.067rem;
  width: 144.6rem;
  height: 35.1rem;
  display: flex;
  align-items: center;
  background-color: #202023;
  flex-shrink: 0;
}
.desktop-2-aEw .group-42-s5D .auto-group-jeuq-mRV {
  margin: 0rem 7.966rem 8.7rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-2-aEw .group-42-s5D .auto-group-jeuq-mRV .traditional-artisax-bakery-i5q {
  margin-bottom: 1.5rem;
  max-width: 32rem;
  font-size: 4rem;
  font-weight: 200;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-2-aEw .group-42-s5D .auto-group-jeuq-mRV .we-want-be-helthy-od5 {
  margin-left: 1.7071rem;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .group-42-s5D .auto-group-jnwf-89Z {
  margin-right: 14.7496rem;
  width: 41.1179rem;
  height: 100%;
  flex-shrink: 0;
}
.desktop-2-aEw .group-42-s5D .auto-group-jnwf-89Z .auto-group-khor-rrF {
  margin: 0rem 0.1rem 4rem 0.014rem;
  width: calc(100% - 0.1142rem);
  display: flex;
  align-items: center;
}
.desktop-2-aEw .group-42-s5D .auto-group-jnwf-89Z .auto-group-khor-rrF .about-anF {
  margin-right: 21.6038rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .group-42-s5D .auto-group-jnwf-89Z .auto-group-khor-rrF .movement-7GP {
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .group-42-s5D .auto-group-jnwf-89Z .auto-group-ueyz-FdV {
  margin-bottom: 8.5rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.desktop-2-aEw .group-42-s5D .auto-group-jnwf-89Z .auto-group-ueyz-FdV .about-us-features-news-blog-QmH {
  margin-right: 14.2179rem;
  max-width: 14.2rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-2-aEw .group-42-s5D .auto-group-jnwf-89Z .auto-group-ueyz-FdV .what-eatly-support-us-8hH {
  max-width: 12.7rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.desktop-2-aEw .group-42-s5D .auto-group-jnwf-89Z .eatlyall-right-riserved-s95 {
  margin-left: 2.0083rem;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-2-aEw .group-42-s5D .auto-group-vzkq-CBM {
  margin-bottom: 11rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.desktop-2-aEw .group-42-s5D .auto-group-vzkq-CBM .company-YFD {
  margin-bottom: 4rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.desktop-2-aEw .group-42-s5D .auto-group-vzkq-CBM .why-eatly-capital-securaty-gMR {
  margin-left: 0.7675rem;
  max-width: 11.8rem;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
